:root {
	font-size: 80%;
}

body {
	background-color: #4ea6dd77;
	margin: 0 auto;
	font-family: 'Roboto', sans-serif;

}

/* Regular styles begins*/
.container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width:100vw;
	height:100vh;
	background-image:url('./res.jpeg');
	background-repeat:no-repeat;
	background-position:center;
	background-size:100%;

}

.wrapper {
	width: 80%;
	height: 80%;
	display:flex;
	align-items:center;
	justify-content:center;
}

h2 {
	font-size: 20px;
	color: #094fc4;
}

form {
	border: 1px solid #ddf;
	width: 50%;
	height: 70%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background:#ffffff00;
	border-radius:0.5rem;
	backdrop-filter:blur(10px);
}

input {
	width: 80%;
	height: 10%;
	padding-left: 15px;
	margin: 0.2rem auto 1rem auto;
	display: flex;
	justify-content: space-around;
	border-radius:0.3rem;
	background:#094fc4aa;
	color:#eef;
	font-size:160%;
	position: relative;
	font-weight:600;
	border: none;
	outline: none;
	align-items: center;
}

.btn {
	width: 50%;
	height: 45px;
	padding-left: 17px;
	margin: 2px 2px 2px 2px;
	border:none;
	cursor: pointer;
	background:#094fc4;
	color:#ddf;
	font-size:150%;
	border-radius:0.3rem;
}

.btn:hover {
	background-color: #066257aa;
	color: #050724;
}

a {
	text-decoration: none;
	margin: 2px 2px 2px 2px;
	color: #050724;
}

a:hover {
	border-bottom: 2px solid black;
	background-color: #094fc4;
	color: #fff;
}
@media only screen and (max-width: 600px) {
  .container .wrapper {
    background-color: lightblue;
  }
}

/*regular style ends*/
